.productDetails {
  margin-top: 100px;
}

.product-details-wrapper {
  padding-top: 20px;
  display: flex;
}

.product-img {
  display: flex;
  padding-right: 50px;
}

.product-details-wrapper .product-img div {
  box-shadow: 0px 1px 5px #ccc;
  border-radius: 10px;
}

.product-details-wrapper .product-img div img {
  max-width: 80%;
  margin: 15px 50px;
  object-fit: cover;
}

.product-details-box {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  align-items: center;
}

.product-name {
  font-size: 20px;
}
.product-price {
  margin-top: 20px;
  font-size: 32px;
}
.product-description {
  margin-top: 20px;
  font-weight: bold;
}

.product-description-title {
  color: #666;
  margin-bottom: 5px;
}

.product-description-data {
  font-size: 14px;
}

.product-details-action {
  margin-top: 40px;
  width: 250px;
}
